<div class="row">
  <div class="col-md-12">
    <mat-card class="shadow">
      <mat-card-header class="mb-3">
        <mat-card-title-group>
            <mat-card-title>

              Lista de Cursos com Disciplinas
            </mat-card-title>
       
        <div class="text-right">
          <button mat-raised-button class="mr-2" color="secondary" (click)="abrirListaCurso()">
            Cancelar                   
          </button>
          <button mat-raised-button color="primary" (click)="abrirModalCadastrar()">
            <mat-icon class="supervisor_account">add</mat-icon>
            Cadastrar                   
          </button>

        </div>
       

        </mat-card-title-group>
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content class="pt-3">
        <div class="row">
          <div class="col-md-12">
            <table mat-table [dataSource]="listaCursoDisciplina" class="mat-elevation-z2">
             
            
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
              <ng-container matColumnDef="curso">
                <th mat-header-cell *matHeaderCellDef> Curso </th>
                <td mat-cell *matCellDef="let element"> {{element.curso.nome}} </td>
              </ng-container>
              <ng-container matColumnDef="disciplina">
                <th mat-header-cell *matHeaderCellDef> Disciplina </th>
                <td mat-cell *matCellDef="let element"> {{element.disciplina.nome}} </td>
              </ng-container>
              <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="editarCurso(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="excluirCurso(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container> 
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>  
          </div>
        </div>
                       
      </mat-card-content>
    </mat-card>
  </div>
</div>
