<h2 mat-dialog-title color="mat-primary">Cadastrar Displina</h2>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Nome completo</mat-label>
      <input matInput formControlName="nome"  value="formCadastro.get('nome').value || ''" required/>
      <mat-error *ngIf="formCadastro.get('nome')?.hasError('required')" >
        Nome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width ml-2">
      <mat-label>Professor</mat-label>
      <mat-select formControlName="professorId" [value]="formCadastro.get('professorId')?.value || ''" required>
        <mat-option *ngFor="let professor of listaProfessores" [value]="professor.id">
          {{ professor.nome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formCadastro.get('professorId')?.hasError('required')">
        Professor é obrigatório
      </mat-error>
    </mat-form-field>
    
  

    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Cancelar</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="formCadastro.invalid"
      >
        Salvar
      </button>
    </mat-dialog-actions>
  </form>
</div>
<mat-divider></mat-divider>
